.navbar {
  background-color: black;
  height: 50px;
}

.navbar_menu {
  list-style: none;
}

.nav_item {
  /* border: 1px solid red; */
  padding: 1rem 1rem;
  text-align: center;
  display: table-cell;
}

.navbar_link {
  text-decoration: none;
  color: aqua;
  font-size: 1rem;
}

.signup #heading {
  text-align: center;
}

.signup_form {
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 30px;
}

label {
  float: left;
  width: 150px;
  color: black;
  font-size: 1rem;
}
form {
  width: 50%;
  margin: 0px auto;
  text-align: center;
  border: 1px solid black;
}

.userInfo {
  width: 50%;
  margin: 0px auto;
  text-align: center;
  border: 1px solid black;
}

input {
  width: 180px;
  border: 1px solid gray;
  color: black;
}
textarea {
  width: 250px;
  height: 150px;
}
#sbutton {
  margin-left: 80px;
  margin-top: 5px;
  width: 80px;
  background-color: aqua;
  border: 1px solid black;
}
br {
  clear: left;
}

footer {
  background-color: black;
  color: aqua;
}

.info {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

#underline {
  border-bottom: 1px solid black;
}
